* {
    margin: 0;
    padding: 0;
  }

  :root{
    --light-color: #EDE8DC;
    --dark-color: #86A788;
    --text-color: #5C7285;
    --wrap-color-light: rgba(134, 167, 136, 0.5);
    --wrap-color-dark: rgba(237, 232, 220, 0.5);
    --border-color-light: #EDE8DC;
  }

  .dark-mode {
    --dark-color: #EDE8DC;
    --light-color: #86A788;
    --text-color: #5C7285;
    --wrap-color-dark: rgba(134, 167, 136, 0.5);
    --wrap-color-light: rgba(237, 232, 220, 0.5);
    --border-color-dark: #EDE8DC;
    --border-color-light: #86A788;
  }


  body {
    background-color: var(--light-color);
    font-size: 30px;
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .content {
    height: 100vh;
  }

  .buttons {
    flex-direction: row;
    gap: 20px;
  }

  button {
    padding: 20px;
    border-radius: 15%;
    font-size: 20px;
    border: var(--border-color-light) solid 2px;
    background-color: var(--light-color);
    transition-duration: 0.4s;
    color: #5C7285;
  }

  button:active{
    transform: translateY(4px);
  }

  button:hover{
    background-color: var(--dark-color);
    border: var(--border-color-light) solid 2px;
    cursor: pointer;

  }

.text {
    text-align: center;
    margin: 30px;
}

.wrap {
    flex-direction: column;
    width: 15em;
    height: 15em;
    gap: 20px;
    background-color: var(--wrap-color-light) ;
    border-radius: 10%;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}
.night-mode {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0px 0px 10px 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-color);
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--light-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--text-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EDE8DC; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5C7285; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5C7285; 
  }

