* {
    margin: 0;
    padding: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

